/* You can add global styles to this file, and also import other style files */
$bgcolor: 'dodgerblue';
$defaultHeight: '200px';

.main-container {
  background: $bgcolor;

  ul {
    li {

    }
  }
}
